<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QuadFilteredDelay</string>
	<key>CFBundleGetInfoString</key>
	<string>QuadFilteredDelay v1.0.2 Copyright 2025 no-tv.org</string>
	<key>CFBundleIdentifier</key>
	<string>org.no-tv.org.clap.QuadFilteredDelay</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QuadFilteredDelay</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>3khs</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.13.0</string>
</dict>
</plist>
